<section style="background-color: #F0F3F2;">
<div class="container-fluid p-5 ">
  <h3>Get the FreshCart app</h3>
  <p>We will send you a link, open it on your phone to download the app </p>
  <div class="d-flex gap-5">
    <input type="text" class="form-control" style="width: 85%;" placeholder="Email">
    <button class="btn btn-main" type="button">Share App Link</button>
  </div>
  <div class="d-flex mt-3 border border-1 border-end-0 border-start-0 p-3 justify-content-between">
    <div class="pay d-flex align-items-center gap-2"><p class="fw-bold">Payment Partners</p>
    <img src="assets/images/amazon-pay.png" alt="">
    <img src="assets/images/American-Express-Color.png" alt="">
    <img src="assets/images/mastercard.webp" alt="">
    <img src="assets/images/paypal.png" alt=""></div>
<div class="app gap-1 "><p class="fw-bold">Get deliveries with FreshCart</p>
<img class="" src="assets/images/get-apple-store.png" alt="">
<img class="" src="assets/images/get-google-play.png" alt="">
</div>
  </div>
</div>
</section>
