<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container  font-sm">
    <a class="navbar-brand" routerLink="Home"><img src="assets/images/freshcart-logo.svg" class="w-100 h-75" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " routerLink="Home" routerLinkActive="bg-main text-white">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Cart" routerLinkActive="bg-main text-white">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Products" routerLinkActive="bg-main text-white">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Categories" routerLinkActive="bg-main text-white">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Brands" routerLinkActive="bg-main text-white">Brands</a>
        </li>

      </ul>
      <div class="d-flex gap-3 align-items-center">
      <i class="fab fa-instagram fs-6"></i>
      <i class="fab fa-facebook"></i>
      <i class="fab fa-tiktok"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-linkedin"></i>
      <i class="fab fa-youtube"></i>
      <a class="nav-link" routerLink="SignOut" routerLinkActive="active">SignOut</a>
      <a class="nav-link" routerLink="Register" routerLinkActive="active">Register</a>
      <a class="nav-link" routerLink="login" routerLinkActive="active">login</a>

    </div>
    </div>
  </div>
</nav>
